In [23]:
# Importing Library
import pandas as pd

# Creating path
path = r"C:\Users\Mallika\Documents\Career Foundry\Module2- Data Immersion\Achievement 6\6.1\flavors_of_cacao.csv"

# importing dataset
df = pd.read_csv(path)

In [24]:
df.describe

<bound method NDFrame.describe of      Company \n(Maker-if known) Specific Bean Origin\nor Bar Name   REF  \
0                      A. Morin                       Agua Grande  1876
1                      A. Morin                             Kpime  1676
2                      A. Morin                            Atsane  1676
3                      A. Morin                             Akata  1680
4                      A. Morin                            Quilla  1704
...                         ...                               ...   ...
1790                     Zotter                              Peru   647
1791                     Zotter                             Congo   749
1792                     Zotter                      Kerala State   749
1793                     Zotter                      Kerala State   781
1794                     Zotter                Brazil, Mitzi Blue   486

      Review\nDate Cocoa\nPercent Company\nLocation  Rating Bean\nType  \
0             2016            63%            France    3.75
1             2015            70%            France    2.75
2             2015            70%            France    3.00
3             2015            70%            France    3.50
4             2015            70%            France    3.50
...            ...            ...               ...     ...        ...
1790          2011            70%           Austria    3.75
1791          2011            65%           Austria    3.00  Forastero
1792          2011            65%           Austria    3.50  Forastero
1793          2011            62%           Austria    3.25
1794          2010            65%           Austria    3.00

     Broad Bean\nOrigin
0              Sao Tome
1                  Togo
2                  Togo
3                  Togo
4                  Peru
...                 ...
1790               Peru
1791              Congo
1792              India
1793              India
1794             Brazil

[1795 rows x 9 columns]>

In [25]:
df.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [26]:
df.columns

Index(['Company \n(Maker-if known)', 'Specific Bean Origin\nor Bar Name',
       'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating',
       'Bean\nType', 'Broad Bean\nOrigin'],
      dtype='object')

In [27]:

# Standardize Column Names
# Replace newline characters and extra spaces for consistency
df.columns = [col.replace('\n', ' ').strip() for col in df.columns]

df.rename(columns={
    'Company  (Maker-if known)': 'Company',
    'Specific Bean Origin or Bar Name': 'BarName',
    'Review Date': 'ReviewDate',
    'Cocoa Percent': 'CocoaPercent',
    'Company Location': 'Location',
    'Bean Type': 'BeanType',
    'Broad Bean Origin': 'BroadOrigin'
}, inplace=True)

In [28]:
df.columns

Index(['Company  (Maker-if known)', 'BarName', 'REF', 'ReviewDate',
       'CocoaPercent', 'Location', 'Rating', 'BeanType', 'BroadOrigin'],
      dtype='object')

In [29]:
#  Convert CocoaPercent to Numeric
# change the '%' symbol and convert to float
df['CocoaPercent'] = df['CocoaPercent'].str.rstrip('%').astype(float)
df['CocoaPercent'].describe()

count    1795.000000
mean       71.698329
std         6.323118
min        42.000000
25%        70.000000
50%        70.000000
75%        75.000000
max       100.000000
Name: CocoaPercent, dtype: float64

In [30]:
# Missing Values
# Fill blank or NaN BeanType entries with 'Unknown'
df['BeanType'] = df['BeanType'].fillna('').replace('', 'Unknown')
# Count any missing BroadOrigin entries
print("Missing BroadOrigin:", df['BroadOrigin'].isna().sum())

Missing BroadOrigin: 1

In [31]:
# Check for Duplicates
print("Exact duplicate rows:", df.duplicated().sum())

Exact duplicate rows: 0

In [32]:
# Review counts per REF (bars reviewed multiple times)
print("Top 5 REF review counts:\n", df['REF'].value_counts().head())

Top 5 REF review counts:
 REF
414    10
404     9
24      9
387     9
32      8
Name: count, dtype: int64

In [33]:
# Basic Descriptive Statistics
print("\nContinuous variable summary:")
print(df[['Rating', 'CocoaPercent', 'ReviewDate']].describe())

Continuous variable summary:
            Rating  CocoaPercent   ReviewDate
count  1795.000000   1795.000000  1795.000000
mean      3.185933     71.698329  2012.325348
std       0.478062      6.323118     2.927210
min       1.000000     42.000000  2006.000000
25%       2.875000     70.000000  2010.000000
50%       3.250000     70.000000  2013.000000
75%       3.500000     75.000000  2015.000000
max       5.000000    100.000000  2017.000000

In [34]:
# Defining output path
cleaned_data = r"C:\Users\Mallika\Documents\Career Foundry\Module2- Data Immersion\Achievement 6\6.1\flavors_of_cacao_cleaned.csv"

# Writing out the cleaned DataFrame
df.to_csv(cleaned_data, index=False)

print(f"Cleaned data saved to: {cleaned_data}")

Cleaned data saved to: C:\Users\Mallika\Documents\Career Foundry\Module2- Data Immersion\Achievement 6\6.1\flavors_of_cacao_cleaned.csv

In [35]:
#The End